$primary: hsla(1%, 94%, 65%, 1);
$light: hsla(351%, 100%, 96%, 1);
$dark: hsla(5%, 60%, 12%, 1);
$secondary: hsla(208%, 53%, 32%, 1);
$alt-text: hsla(34%, 100%, 59%, 1);

:local(.authentification) {
  color: $dark;
  width: 100%;
  height: 100%;
  font-size: 2em;
  .auth-img {
    height: 100%;
    width: 50%;
    float: left;
    background-image: url("https://images.unsplash.com/photo-1555090866-dfd8c22e9b35?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2468&q=80");
    background-size: cover;
    background-position: bottom;
    box-sizing: border-box;
  }
  .auth {
    background: repeating-linear-gradient(
      45deg,
      #fa5754,
      #fa5754 10px,
      #ea5654 10px,
      #ea5654 20px
    );
    height: 100%;
    width: 50%;
    float: left;
    box-sizing: border-box;
    display: flex;
    .auth-content {
      margin: auto;
      width: 92%;
      height: 92%;
      border: solid $dark 5px;
      border-radius: 3px;
      background: $primary;
      .logo-title {
        font-family: "Pacifico", cursive;
        color: white;
        font-size: 3em;
        width: 100%;
        text-align: center;
        height: 1.4em;
        border-bottom: solid $dark 6px;
        border-radius: 5px;
        text-shadow: black 2px 0 10px;
      }
      .entry {
        i {
          color: $dark;
          margin: auto 0.8em auto -0.8em;
          font-size: 0.8em;
        }
        display: flex;
        justify-content: center;
        align-content: center;
        border-radius: 15px;
        background-color: $light;
        color: $dark;
        margin: 1.2em auto;
        width: 10em;
        height: 1.2em;
      }
    }
    input {
      font-family: "Roboto Slab", serif;
      background: none;
      border: none;
      font-weight: 800;
      letter-spacing: 0.15em;
      font-size: 0.4em;
      width: 60%;
    }

    input:focus {
      outline: none;
    }

    .auth-message {
      font-size: 0.4em;
    }
  }
}
