$primary: hsla(1, 94%, 65%, 1);
$light: hsla(351, 100%, 96%, 1);
$dark: hsla(5, 60%, 12%, 1);
$secondary: hsla(208, 53%, 32%, 1);
$alt-text: hsla(34, 100%, 59%, 1);

:local(.eatingroom) {
  color: $dark;
  height: 100%;
  .eatingroom-bg {
    background-image: url("https://i.pinimg.com/originals/21/4d/6e/214d6eab8bf26e0070d9614846096b18.png");
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    padding: 3.5em 1em 1em 1em;
    .eatingroom-page-nav {
      color: $dark;
      font-weight: bolder;
      font-size: 0.9em;
    }
    .eatingroom-list {
      // height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      .card-infolabel {
        margin: 0.25em 0;
        .card-label {
          display: inline-block;
          margin-right: 1em;
          i {
            width: 15px;
            padding-right: 1em;
          }
        }
      }
      .eatingroom-participants {
        display: flex;
        align-items: center;
        font-size: 1.2em;
        a {
          width: 10%;
          padding: 0 0em;

          img {
            width: 30px;
            height: 30px;
            border-radius: 50px;
          }
          cursor: pointer;
        }
      }
    }
    .eatingform {
      width: 100%;
      height: 100%;
      background: $dark;
      color: $light;
      border-radius: 3px;
      form {
        height: 100%;
        .form-title {
          font-size: 3.5em;
          text-align: center;
        }
        .form-group {
          height: 100%;
          width: 90%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 50px auto;
          margin: 0 auto;
          label {
            float: left;
          }
          .entry.time {
            input {
              font-size: 0.85em;
            }
          }
          .entry {
            display: flex;
            justify-content: center;
            align-content: center;
            width: 65%;
            float: right;
            border-radius: 50px;
            background-color: $light;
            color: $dark;
            height: 30px;
            input {
              width: 90%;
              background: none;
              font-family: "Roboto Slab", serif;
              border: none;
              font-weight: 800;
              font-size: 1em;
            }
            input:focus {
              outline: none;
            }
          }
          .entry-dropdown {
            background: $light;
            color: $dark;
            width: 5em;
            text-align: center;
            border-radius: 50px;
          }
        }
      }
      .form-button {
        background: $alt-text;
        color: $dark;
        // width: ;
      }
    }
  }
}
