.profile {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 10%;
  > * {
    width: 40%;
  }

  > img {
    width : 20%;
    height : auto;
  }
}