$primary: hsla(1, 94%, 65%, 1);
$light: hsla(351, 100, 96, 1);
$dark: hsla(5, 60, 12, 1);
$secondary: hsla(208, 53, 32, 1);
$alt-text: hsla(34, 100, 59, 1);

:local(.main) {
  .main-bg {
    height: 625px;
    background-image: url("http://www.ox.ac.uk/sites/files/oxford/styles/ow_medium_feature/public/field/field_image_main/Meal%20banner.jpg?itok=t_iAg-1M");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: auto;
    position: relative;
    .main-navbar {
      position: fixed;
      overflow: hidden;
      background: hsla(5, 60, 12, 0.9);
      width: 100%;
      z-index: 2;

      .main-logo {
        display: inline-block;
        color: white;
        font-family: "Pacifico", cursive;
        text-decoration: None;
        font-size: 2.5em;
        text-shadow: #fa5754 1px 0 3px;
        padding-left: 1em;
      }
    }

    .main-description {
      font-family: "Roboto Slab", serif;
      // font-family: "Pacifico";
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      font-size: 100px;
      color: $light;
      padding: auto;
      text-decoration: blink;
      position: relative;
      z-index: 1;
    }
  }

  .main-bg:before {
    background: linear-gradient(hsla(5, 60, 12, 0.45)),
      url("http://www.ox.ac.uk/sites/files/oxford/styles/ow_medium_feature/public/field/field_image_main/Meal%20banner.jpg?itok=t_iAg-1M");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: auto;

    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: blur(4px);
  }
}
