#main_outer {
  #main_first {
    background-image: url(http://www.ox.ac.uk/sites/files/oxford/styles/ow_medium_feature/public/field/field_image_main/Meal%20banner.jpg?itok=t_iAg-1M);
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    background-position: auto;
  }
  #main_navbar {
    position: fixed;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.5);
    padding: 30px 10px;
    transition: 0.2s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;

    #main_logo {
      display: inline-block;
      color: white;
      font-family: "Pacifico", cursive;
      text-decoration: None;
      font-size: 3em;
      height: 1.4em;
      text-shadow: #fa5754 2px 0 12px;
    }

    #navbar-right {
      float: right;
      margin-right: 20px;
      #joinnow {
        display: inline-block;
        background: transparent;
        font-size: 20px;
        color: white;
        margin: 10px;
        padding: 15px;
        font-weight: bolder;
        cursor: pointer;
        outline: 0;
        -webkit-appearance: none;
        border: 0;
      }
      #signin {
        display: inline-block;
        background: transparent;
        font-size: 20px;
        color: #fa5754;
        border-color: #fa5754;
        border-radius: 5px;
        border-width: 3px;
        margin: 10px;
        padding: 15px;
        font-weight: bolder;
        cursor: pointer;
        outline: 0;
        -webkit-appearance: none;
      }
      #joinnow:hover {
        font-size: 25px;
        transition-duration: 0.4s;
        font-weight: bolder;
      }
      #signin:hover {
        transition-duration: 0.4s;
        background-color: rgba(250, 87, 84, 0.5);
      }
    }
  }

  #main_description {
    font-size: 100px;
    color: white;
    padding-top: 300px;
    padding-left: 100px;
    text-decoration: blink;
    text-shadow: #fa5754 2px 0 8px;
  }

  footer {
    margin: 0;
    padding: 0;
  }
}