$primary: hsla(1, 94%, 65%, 1);
$light: hsla(351, 100, 96, 1);
$dark: hsla(5, 60, 12, 1);
$secondary: hsla(208, 53, 32, 1);
$alt-text: hsla(34, 100, 59, 1);

:local(.navbar) {
  background: $primary;
  transition: 0.2s;
  position: fixed;
  width: 100%;
  height: 10%;
  .logo {
    display: inline-block;
    color: $light;
    font-family: "Pacifico", cursive;
    text-decoration: None;
    font-size: 2.4em;
    padding-left: 0.75em;
    transition: 0.2s;
  }
  .logo:hover {
    text-shadow: 1px 1px $dark, 2px 2px $dark, 3px 3px $dark, 4px 4px $dark,
      5px 5px $dark, 6px 6px $dark;
  }
  .navbutton {
    font-size: 0.9em;
    transition: 0.5s;
  }
  .navbutton:hover {
    background: none;
    text-shadow: 1px 1px $dark, 2px 2px $dark, 3px 3px $dark;
  }
  button {
    background: transparent;
    border: None;
    img {
      height: 2em;
      width: 2em;
      border-radius: 50%;
      transition: 0.5s;
    }
    img:hover {
      cursor: pointer;
      box-shadow: 2px 2px $dark;
    }
  }
}
