#rest_background {
  background-image: url("https://cmkt-image-prd.global.ssl.fastly.net/0.1.0/ps/2096239/1360/816/m1/fpnw/wm1/uqjpga6azzmsalgr0h74sfyp1z6wbpuuomjdvbz37olr43h5z0lwcan4fbgn4ihb-.jpg?1483703240&s=0c6d0f13a8332e966bd509c7d8dfb53c");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 100%;
}

#form_outer {
  width: 90%;
  padding-top: 10%;
  form {
    margin-left: 10%;
    padding: 30px;
    width: 70%;
    overflow: hidden;
    background: lightblue;
    border-radius: 10px;
    label {
      font-size: 16px;
      color: black;
      cursor: pointer;
    }
    input {
      font-size: 15px;
      margin: 15px 0;
      padding: 15px 10px;
      width: 100%;
      outline: none;
      border: 1px solid #bbb;
      border-radius: 20px;
      display: inline-block;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -ms-transition: 0.2s ease all;
      -o-transition: 0.2s ease all;
      transition: 0.2s ease all;
    }
    input[type="text"]:focus,
    input[type="password"]:focus {
      border-color: cornflowerblue;
    }
  }
}

input[type="submit"] {
  padding: 5% 30% 5% 30%;
  margin: auto;
  margin-top: 10%;
  background: #ffa500;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-block;
  clear: right;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
}
input[type="submit"]:hover {
  opacity: 0.8;
}
input[type="submit"]:active {
  opacity: 0.4;
}

.left {
  text-align: center;
  float: left;
  width: 40%;
  padding-bottom: 8%;
  z-index: 1;
}
.right {
  float: right;
  width: 55%;
  height: 100%;
}

.list_container {
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  justify-content: space-around;
}
.card {
  background: transparent;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  box-shadow: 0px 20px 30px 3px rgba(0, 0, 0, 0.55);
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  justify-content: space-around;
  width: 100%;
  height: 20%;
  padding: 15px;
  margin: 15px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}
.card_left {
  width: 50%;
  height: 100%;
  float: left;
  overflow: hidden;
  background: transparent;
  img {
    width: 100%;
    height: 240px;
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    position: relative;
  }
}
.card_right {
  width: 40%;
  float: left;
  height: 100%;
  border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  h1 {
    color: black;
    font-family: "Montserrat", sans-serif;
    text-align: left;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0 0 0;
    padding: 0 0 0 20px;
    letter-spacing: 1px;
  }
}
.card_right__details {
  width: 100%;
  height: 80%;
  ul {
    list-style-type: none;
    padding: 10px 10px 0 20px;
    margin: 10px 0 0 0;
    li {
      display: inline-flex;
      color: black;
      font-family: "Montserrat", sans-serif;
      font-weight: 140;
      font-size: 18px;
      padding: 0 40px 0 0;
    }
  }
}

.eating_room_button {
  float: right;
  color: #ff0000;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  border: 1px solid #ff0000;
  padding: 10px 10px 10px 10px;
  font-size: 12px;
  border-radius: 9px;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.eating_room_button:hover {
  color: #000000;
  cursor: pointer;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.btn-primary {
  font-size: 15px;
}

.custom-select {
  text-align: center;
  margin: 2%;
  padding: 1%;
  border: 3px solid #ccc;
  width: 90%;
  border-radius: 3px;
  overflow: hidden;
  background: #fafafa url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 90% 50%;
}

.custom-select select {
  font-size: 15px;
  padding: 5px 8px;
  width: 130%;
  border: none;
  box-shadow: none;
  background: transparent;
  background-image: none;
  -webkit-appearance: none;
}

.custom-select select:focus {
  outline: none;
}